@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .glass {
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: relative;
    overflow: hidden;
  }

  .glass-header {
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(39, 50, 68, 0.5);
    border: 1px solid rgba(58, 13, 13, 0.125);
    position: relative;
    overflow: hidden;
  }

  .glass-hover {
    position: relative;
    overflow: hidden;
  }

  .glass-hover::before {
    content: "";
    background: rgba(255, 255, 255, 0.4);
    left: -130%;
    width: 60%;
    height: 100%;
    top: 0%;
    transform: skew(45deg);
    position: absolute;
    transition: left var(--transition-duration, 0.5s) var(--transition-easing, ease);
  } */

  .glass-hover::before {
    content: "";
    background: rgba(255, 255, 255, 0.4);
    left: -150%;
    width: 60%;
    height: 100%;
    top: 0%;
    transform: skew(45deg);
    position: absolute;
    transition: left var(--transition-duration, 0.5s) var(--transition-easing, ease);
  }

  .glass-hover.animate::before {
    left: 175%;
  }

  .glass-hover2 {
    position: relative;
    overflow: hidden;
  }

  .glass-hover2::before {
    content: "";
    background: rgba(255, 255, 255, 0.4);
    left: -130%;
    width: 60%;
    height: 100%;
    top: 0%;
    transform: skew(45deg);
    position: absolute;
    transition: left var(--transition-duration, 0.5s) var(--transition-easing, ease);
  }

  .glass-hover2.animate::before {
    left: 175%;
  }

  .spotlight-left {
    position: relative;
    overflow: hidden;
  }

  .spotlight-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(100px at 0% 50%);
    animation: spotlight-left 10s infinite;
    background: radial-gradient(
      circle,
      rgba(17, 17, 58, 0.324),
      rgba(0, 123, 255, 0.393),
      rgba(0, 255, 255, 0.236),
      rgba(137, 43, 226, 0.248)
    );
    background-size: 400% 400%;
    z-index: 1;
  }

  .spotlight-right {
    position: relative;
    overflow: hidden;
  }

  .spotlight-right::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(100px at 100% 50%);
    animation: spotlight-right 10s infinite;
    background: radial-gradient(
      circle,
      rgba(17, 17, 58, 0.324),
      rgba(0, 123, 255, 0.393),
      rgba(0, 255, 255, 0.236),
      rgba(137, 43, 226, 0.248)
    );
    background-size: 400% 400%;
    z-index: 1;
  }

  @keyframes spotlight-left {
    0% {
      clip-path: circle(100px at 0% 50%);
    }
    50% {
      clip-path: circle(150px at 100% 50%);
    }
    100% {
      clip-path: circle(100px at 0% 50%);
    }
  }

  @keyframes spotlight-right {
    0% {
      clip-path: circle(100px at 100% 50%);
    }
    50% {
      clip-path: circle(150px at 0% 50%);
    }
    100% {
      clip-path: circle(100px at 100% 50%);
    }
  }

  .glass-button {
    position: relative;
    padding: 20px 60px;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #999;
    font-size: 1.5em;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
  }

  .glass-button span {
    position: relative;
    z-index: 1;
    letter-spacing: 0.2em;
  }

  .glass-button:hover {
    color: var(--clr);
    text-shadow:
      0 0 15px var(--clr),
      0 0 40px var(--clr);
  }

  @keyframes moveUpAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .moving-text {
    animation: moveUpAndDown 2s infinite;
  }

  /* Add cube styles */
  .cube {
    @apply relative w-48 h-48;
    transform-style: preserve-3d;
    animation: spin-slow 10s infinite linear;
  }

  .face {
    @apply absolute w-48 h-48 bg-opacity-10 border-2 border-teal-400 shadow-xl;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.5);
  }

  .front  { transform: rotateY(  0deg) translateZ(6rem); }
  .back   { transform: rotateY(180deg) translateZ(6rem); }
  .left   { transform: rotateY(-90deg) translateZ(6rem); }
  .right  { transform: rotateY( 90deg) translateZ(6rem); }
  .top    { transform: rotateX( 90deg) translateZ(6rem); }
  .bottom { transform: rotateX(-90deg) translateZ(6rem); }

  @keyframes spin-slow {
    from { transform: rotateX(0) rotateY(0); }
    to   { transform: rotateX(360deg) rotateY(360deg); }
  }
  
  .glass-button::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: radial-gradient(var(--clr), transparent, transparent);
    opacity: 0;
    transition:
      0.5s,
      top 0s,
      left 0s;
  }

  .glass-button:hover::before {
    opacity: 1;
  }

  .glass-button::after {
    content: "";
    background-color: rgba(17, 25, 40, 0.5);
    position: absolute;
    inset: 2px;
    border-radius: 48px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .swiper-button-prev-listed,
.swiper-button-next-listed,
.swiper-button-prev-sold,
.swiper-button-next-sold {
  display: block;
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev-listed {
  left: 10px;
}

.swiper-button-next-listed {
  right: 10px;
}

.swiper-button-prev-sold {
  left: 10px;
}

.swiper-button-next-sold {
  right: 10px;
}

}
